{% extends "base_disziplin.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block content %}
  <a href="{% url 'beste_schiffe' wettkampf.jahr wettkampf.name disziplin.name %}?typ=Amerikaner">Amerikanerbecher</a>
| <a href="{% url 'beste_schiffe' wettkampf.jahr wettkampf.name disziplin.name %}?typ=Lichtensteiner">Lichtensteinerbecher</a>
<p>
{% if typ == "Amerikaner" %}Die besten 6 Schiffe der Kategorie C und D{% endif %}
{% if typ == "Lichtensteiner" %}Die besten 2 Schiffe der Kategorie II und III{% endif %}
</p>
<table class="list">
  <tr>
    <th>Sektion</th>
    <th class="startnummer">Stnr</th>
    <th>Fahrerpaar</th>
    <th class="kategorie">Kat</th>
    <th class="note">Punkte</th>
    <th class="note">Total</th>
  </tr>
{% for row in rangliste %}
  <tr class="{% cycle "odd" "even" %}">
    <td>{% ifchanged row.sektion %}{{ row.sektion }}{% endifchanged %}</td>
    <td class="startnummer"><a href="{% url 'teilnehmer_get' wettkampf.jahr wettkampf.name disziplin.name row.startnummer %}">{{row.startnummer}}</a></td>
    <td>{{ row.fahrerpaar }}</td>
    <td class="kategorie">{{ row.kategorie }}</td>
    <td class="note"><a title="Notenblatt" href="{% url 'notenblatt' wettkampf.jahr wettkampf.name disziplin.name row.startnummer %}">{{row.punkte}}</a></td>
    <td class="note">{% ifchanged row.total %}{{ row.total }}{% endifchanged %}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
