{% extends "base_wettkampf.html" %}
{% block nav_wettkampf %}selected{% endblock %}
{% block content %}
<style>
    table.list tr.trouble {
    background-color: red;
    }
</style>
<p>
<strong>Doppelstarter Einzelfahren.</strong>
Anzeige der Mitglieder, die in mehr als einem Schiff gestartet sind und/oder
als Doppelstarter bei der Eingabe der Startliste markiert wurden. Problemfälle
werden rot hinterlegt (z.B. mehr als einmal gestartet aber nicht als
Doppelstarter markiert).
</p>
<table class="list">
  <tr>
    <th>Doppel</th>
    <th>Normal</th>
    <th>Name</th>
    <th>Sektion</th>
  </tr>
  {% for row in doppelstarter %}
  <tr class="{{row.trouble|yesno:"trouble,"}}">
    <td>
    {% for item in row.doppel %}
    <a href="{% url 'teilnehmer_get' wettkampf.jahr wettkampf.name item.disziplin item.startnummer %}">{{item.startnummer}}</a>
    {% endfor %}
    </td>
    <td>
    {% for item in row.normal %}
    <a href="{% url 'teilnehmer_get' wettkampf.jahr wettkampf.name item.disziplin item.startnummer %}">{{item.startnummer}}</a>
    {% endfor %}
    </td>
    <td>{{row.name}} {{row.vorname}}</td>
    <td>{{row.sektion}}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
