/* Form input errors */
ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    color: red;
    display: block;
    margin: 0 0 2px;
    padding: 2px 2px;
}
/* Data as list */
table.list {
    border-collapse: collapse;
}
table.list th {
    padding: 2px 4px 2px 4px;
    font-weight: normal;
    background-color: LightGrey;
    border: thin solid DarkGrey;
    text-align: left;
}
table.list td {
    padding: 2px 4px 2px 4px;
    border: thin solid DarkGrey;
}
/* Data as entry form */
table.form {
    border-collapse: collapse;
}
table.form th {
    padding: 2px 4px 10px 4px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}
table.form td {
    padding: 2px 4px 10px 4px;
}
/* Data as display form */
table.display {
    border-collapse: collapse;
}
table.display th {
    padding: 2px 4px 2px 4px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}
table.display td {
    padding: 2px 4px 2px 4px;
}
/* tab navigation */
ul.tabnav {
    text-align: left;
    margin: 1em 0 0 0;
    border-bottom: 1px solid #B5D2F7;
    list-style-type: none;
    padding: 3px 10px 3px 10px;
}
ul.tabnav li {
    display: inline;
}
ul.tabnav li.selected a {
    border: 1px solid #B5D2F7;
    border-bottom: none;
    background-color: #B5D2F7;
    font-weight: bolder;
    color: Black;
    position: relative;
}
ul.tabnav li a {
    border: 1px solid #E0ECF8;
    border-bottom: none;
    background-color: #E0ECF8;
    color: Black;
    padding: 3px 4px;
    text-decoration: none;
    margin-right: 2px; /* space between tabs */
}
ul.tabnav li a:hover {
    background: #B5D2F7;
    color: Black;
}
/* submenus of a tab */
ul.subnav {
    text-align: left;
    margin: 0 0 0 0;
    font-size: 85%;
    background-color: #B5D2F7;
    padding: 3px 3px 4px 3px;
}
ul.subnav li {
    display: inline;
}
ul.subnav li.selected a {
    font-weight: bolder;
    color: Black;
    text-decoration: none;
    position: relative;
}
ul.subnav li a {
    color: Black;
    padding: 2px 2px;
}
