ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    margin: 0 0 2px;
    padding: 2px 2px;
}
/* Data as list */
table.list {
    border-collapse: collapse;
}
.list th {
    padding: 2px 4px 2px 4px;
    font-weight: normal;
    background-color: lightgrey;
    border: thin solid darkgrey;
    text-align: left;
}
.list td {
    padding: 2px 4px 2px 4px;
    border: thin solid darkgrey;
}
/* Data as entry form */
table.form {
    border-collapse: collapse;
}
.form th {
    padding: 2px 4px 10px 4px;
    border-top: thin solid darkgrey;
    background-color: lightgrey;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}
.form td {
    padding: 2px 4px 10px 4px;
    border-top: thin solid darkgrey;
}
/* Data as display form */
table.display {
    border-collapse: collapse;
}
.display th {
    padding: 2px 4px 2px 4px;
    border-top: thin solid darkgrey;
    text-align: right;
    background-color: lightgrey;
    font-weight: normal;
}
.display td {
    padding: 2px 4px 2px 4px;
    border-top: thin solid darkgrey;
}
/* tab navigation */
ul.tabnav {
    text-align: left
    margin: 1em 0 1em 0;
    font-weight: bolder;
    font-size: 80%;
    border-bottom: 1px solid darkgrey;
    list-style-type: none;
    padding: 3px 10px 3px 10px;
}
ul.tabnav li {
    display: inline;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
ul.tabnav li.selected a {
    background-color: #fff;
    color: #000;
    position: relative;
    top: 1px;
    padding-top: 4px;
}
ul.tabnav li a {
    padding: 3px 4px;
    border: 1px solid darkgrey;
    background-color: lightblue;
    color: #666;
    margin-right: 5px; /* space between tabs */
    text-decoration: none;
    border-bottom: none;
}
ul.tabnav li a:hover {
    background: #fff;
    color: #000;
}
