{% extends "base_wettkampf.html" %}

{% block title %}{{ block.super }} - {{ disziplin.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
/ <a href="{% url disziplin_get wettkampf.jahr, wettkampf.name, disziplin.name %}">{{ disziplin.name }}</a>
{% endblock %}

{% block nav %}
<ul class="tabnav">
  <li class="{% block nav_disziplin %}{% endblock %}">
    <a href="{% url disziplin_get wettkampf.jahr, wettkampf.name, disziplin.name %}">Disziplin</a></li>
  <li class="{% block nav_posten %}{% endblock %}">
    <a href="{% url posten_list wettkampf.jahr, wettkampf.name, disziplin.name %}">Postenliste</a></li>
  <li class="{% block nav_startliste %}{% endblock %}">
    <a href="{% url startliste wettkampf.jahr, wettkampf.name, disziplin.name %}">Startliste</a></li>
  <li class="{% block nav_bewertungen %}{% endblock %}">
    <a href="{% url bewertungen wettkampf.jahr, wettkampf.name, disziplin.name %}">Bewertungen</a></li>
  <li class="{% block nav_rangliste %}{% endblock %}">
    <a href="#">Rangliste</a></li>
</ul>
{% endblock %}
