{% extends "base_disziplin.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block nav %}
{{ block.super }}
{% block subnav %}
<ul class="subnav">
  <li class="{% block nav_rang_kat %}{% endblock %}">
    <a href="{% url rangliste wettkampf.jahr, wettkampf.name, disziplin.name %}">Kategorien</a></li>
  <li class="{% block nav_kranzlimiten %}{% endblock %}">
  | <a href="{% url kranzlimiten wettkampf.jahr, wettkampf.name, disziplin.name %}">Kranzlimiten</a></li>
</ul>
{% endblock %}
{% endblock %}
