{% extends "base_disziplin.html" %}

{% block nav_bewertungen %}selected{% endblock %}

{% block nav %}
{{ block.super }}
{% block subnav %}
<ul class="subnav">
  <li class="{% block nav_postenblatt %}{% endblock %}">
    <a href="{% url bewertungen wettkampf.jahr, wettkampf.name, disziplin.name %}">Postenblätter</a></li>
  <li class="{% block nav_richtzeiten %}{% endblock %}">
  | <a href="{% url richtzeiten wettkampf.jahr, wettkampf.name, disziplin.name %}">Richtzeiten</a></li>
  <li class="{% block nav_notenliste %}{% endblock %}">
  | <a href="{% url notenliste wettkampf.jahr, wettkampf.name, disziplin.name %}">Notenliste</a></li>
</ul>
{% endblock %}
{% endblock %}
