{% extends "base.html" %}
{% block title %}{{ wettkampf.name }} {{ wettkampf.jahr }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url wettkaempfe_get %}">Home</a>
/ <a href="{% url wettkaempfe_by_year wettkampf.jahr %}">{{ wettkampf.jahr }}</a>
/ <a href="{% url wettkampf_get wettkampf.jahr, wettkampf.name %}">{{ wettkampf.name }}</a>
{% endblock %}

{% block content %}
<form action="" method="POST">
  <table class="form">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td><input type="submit" value="Disziplin hinzufügen"/></td>
    </tr>
  </table>
</form>
{% endblock %}
