{% extends "base.html" %}
{% block title %}{{ wettkampf.name }} {{ wettkampf.von|date:"Y" }} {% endblock %}
{% block breadcrumbs %}
<a href="{% url wettkaempfe_get %}">Home</a>
/ <a href="{% url wettkaempfe_by_year wettkampf.von|date:"Y" %}">{{ wettkampf.von|date:"Y" }}</a>
/ <a href="{% url wettkampf_get wettkampf.von|date:"Y", wettkampf.name %}">{{ wettkampf.name }}</a>
{% endblock %}
{% block content %}
<form action="" method="POST">
    <table class="form">
    {{ form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="Disziplin hinzufuegen"/></td>
    </tr>
    </table>
</form>
{% endblock %}
