{% extends "base.html" %}
{% block title %}{{ wettkampf.name }} {{ wettkampf.von|date:"Y" }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url wettkaempfe_get %}">Home</a>
/ <a href="{% url wettkaempfe_by_year wettkampf.von|date:"Y" %}">{{ wettkampf.von|date:"Y" }}</a>
/ <a href="{% url wettkampf_get wettkampf.von|date:"Y", wettkampf.name %}">{{ wettkampf.name }}</a>
/ <a href="{% url disziplin_get wettkampf.von|date:"Y", wettkampf.name, disziplin.name %}">{{ disziplin.name }}</a>
{% endblock %}

{% block content %}

<ul class="tabnav">
  <li class="selected"><a href="{% url disziplin_get wettkampf.von|date:"Y", wettkampf.name, disziplin.name %}">Disziplin</a></li>
  <li><a href="{% url posten_list wettkampf.von|date:"Y", wettkampf.name, disziplin.name %}">Posten</a></li>
  <li><a href="#">Startliste</a></li>
  <li><a href="#">Bewertungen</a></li>
  <li><a href="#">Rangliste</a></li>
</ul>

<table class="display">
  <tr>
    <th>Disziplinart:</th>
    <td>{{ disziplin.disziplinart }}</td>
  </tr>
  <tr>
    <th>Name:</th>
    <td>{{ disziplin.name }}</td>
  </tr>
  <tr>
    <th>Kategorien:</th>
    <td>
      {% for k in disziplin.kategorien.all %}
      {{ k }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Posten:</th>
    <td>
      {% for p in disziplin.posten_set.all %}
      <a href="{% url posten_get wettkampf.von|date:"Y", wettkampf.name, disziplin.name, p.name %}">{{ p.name}}</a>
      {% if not forloop.last %},{% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <br />
      <a href="{% url disziplin_update wettkampf.von|date:"Y", wettkampf.name, disziplin.name %}">Ändern</a>
      | <a href="{% url disziplin_delete_confirm wettkampf.von|date:"Y", wettkampf.name, disziplin.name %}">Löschen</a>
    </td>
  </tr>
</table>
{% endblock %}
