{% extends "base_bewertungen.html" %}
{% block nav_kranzlimiten %}selected{% endblock %}
{% block content %}
<table class="list">
  <tr>
    <th class="kategorie">Kategorie</th>
    <th style="text-align:center" colspan="2">Kranzlimite</th>
    <th style="text-align:center" colspan="2">Anz. Rangierungen</th>
    <th style="text-align:center" colspan="2">Anz. Doppelstarter</th>
  </tr>
  <tr>
    <th></th>
    <th class="note">[pkt]</th>
    <th class="note">[%]</th>
    <th class="note">Total</th>
    <th class="note">Mit Kranz</th>
    <th class="note">Total</th>
    <th class="note">Mit Kranz</th>
  </tr>
{% for row in kranzlimiten %}
  <tr class="{% cycle "odd" "even" %}">
    <td class="kategorie"><a href="{% url rangliste wettkampf.jahr, wettkampf.name, disziplin.name, row.kategorie %}">{{row.kategorie}}</a></td>
    <td class="note">{{row.limite_in_punkte}}</td>
    <td class="note">{{row.limite_in_prozent}}</td>
    <td class="note">{{row.anzahl_raenge}}</td>
    <td class="note">{{row.anzahl_raenge_ueber_limite}}</td>
    <td class="note">{{row.doppelstarter}}</td>
    <td class="note">{{row.doppelstarter_ueber_limite}}</td>
  </tr>
{% endfor %}
</table>
<p>
<a href="{% url kranzlimiten_update wettkampf.jahr, wettkampf.name, disziplin.name %}">Ändern</a>
{% endblock %}
