{% extends "base_wettkaempfe.html" %}
{% block nav_mitglieder %}selected{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate mitglieder 15 %}
<table class="list">
  <tr>
    <th>Name</th>
    <th>Vorname</th>
    <th>Sektion</th>
    <th>Jahrgang</th>
    <th>Geschlecht</th>
    <th>Nummer</th>
  </tr>
  {% for m in mitglieder %}
  <tr>
      <td>{{m.name}}</td>
      <td>{{m.vorname}}</td>
      <td>{{m.sektion}}</td>
      <td>{{m.geburtsdatum.year}}</td>
      <td>{{m.geschlecht}}</td>
      <td>{{m.nummer}}</td>
  </tr>
  {% endfor %}
</table>
<p>
{% paginate %}
Gehe <a href="{{goback}}">zurück</a>
{% endblock %}
