{% extends "base_posten.html" %}

{% block content %}
<table class="display">
  <tr>
    <th>Name:</th>
    <td>{{ posten.name }}</td>
  </tr>
  <tr>
    <th>Postenart:</th>
    <td>{{ posten.postenart }}</td>
  </tr>
  <tr>
    <th>Reihenfolge:</th>
    <td>{{ posten.reihenfolge }}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <br />
      <a href="{% url posten_update wettkampf.von|date:"Y", wettkampf.name, disziplin.name, posten.name %}">Ändern</a>
      | <a href="{% url posten_delete_confirm wettkampf.von|date:"Y", wettkampf.name, disziplin.name, posten.name %}">Löschen</a>
    </td>
  </tr>
</table>
{% endblock %}
