{% extends "base_bewertungen.html" %}
{% load sasse %}

{% block content %}
<form id="filterform" name="filterform" action="" method="GET">
{% if filterform.non_field_errors %}
{{ filterform.non_field_errors }}
{% endif %}
{{ filterform.startnummern.errors }}
Postenblatt für Posten {{ filterform.posten }} und/oder
Startnummern {{ filterform.startnummern }}
<input type="submit" value="auswählen">
</form>
<p>
<b>Posten {{ posten.name }}: {{ posten.postenart.name }}</b>
<table class="list">
    <tr>
        <th>Startnr:</th>
        {% for t in startliste %}
        <th width="30">{{ t.startnummer }}</th>
        {% endfor %}
    </tr>
    {% for set in formset %}
    <tr>
        <th>{{ set.bewertungsart.name }}:</th>
        {% for form in set.forms %}
        <td {% if not form.initial.id %}bgcolor="LightGreen"{% endif %}>
          {{ form.initial.wert|bewertung:form.bewertungsart.einheit }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>
<a href="{% url postenblatt_update wettkampf.jahr, wettkampf.name, disziplin.name %}?{{ query }}">Ändern</a>
| <a href="{% url postenblatt wettkampf.jahr, wettkampf.name, disziplin.name %}?{{ next_query }}">Weiter</a>
</form>
<script type="text/javascript">
  var first_field = document.getElementById('id_posten');
  first_field.focus();
  first_field.select();
</script>
{% endblock %}
