{% extends "base_posten.html" %}

{% block content %}
<form action="" method="POST">
{{ form.disziplin }}
{{ form.reihenfolge }}
<table class="list">
  <tr>
    <th>Posten</th>
    <th>Art</th>
    <th>Reihenfolge</th>
  </tr>
  {% for p in posten %}
  <tr class="{% cycle 'odd' 'even' as rowcolors %}">
    <td><a href="{% url posten_get wettkampf.von|date:"Y", wettkampf.name, disziplin.name, p.name %}">{{ p.name}}</a>
    <td>{{ p.postenart }}</td>
    <td>{{ p.reihenfolge }}</td>
  </tr>
  {% endfor %}
  {% if form.non_field_errors %}
  <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
  {% endif %}
  <tr>
    <td>{{ form.name.errors }}{{ form.name }}</td>
    <td>{{ form.postenart.errors }}{{ form.postenart }}</td>
    <td><input type="submit" value="Posten hinzufügen"/></td>
  </tr>
</table>
{% endblock %}
