{% extends "base_bewertungen.html" %}

{% block content %}
<form id="filterform" name="filterform" action="" method="GET">
{% if filterform.non_field_errors %}
{{ filterform.non_field_errors }}
{% endif %}
{{ filterform.startnummern.errors }}
Startnummern {{ filterform.startnummern }}
<input type="submit" value="anzeigen">
| <a href="#" title="'1,4-15' zeigt Startnummern 1,4,5,...,15.
'800-' zeigt Startnummern ab 800">Filter Tipps</a>
</form>
<p>
<form id="postenblattform" name="postenblattform" action="" method="POST">
  <b>Posten {{ posten.name }}: {{ posten.postenart.name }}</b>
  {% for set in formset %}{{ set.management_form }}{% endfor %}
  <table class="list">
      <tr>
          <th>Startnr:</th>
          {% for t in startliste %}
          <th>{{ t.startnummer }}</th>
          {% endfor %}
      </tr>
      {% for set in formset %}
      <tr>
          <th>{{ set.bewertungsart.name }}:</th>
          {% for form in set.forms %}
          <td>{{ form.wert.errors }}{{ form.wert }} {{ form.teilnehmer }}{{ form.id }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
<p>
<input type="submit" value="Speichern und Weiter">
| {% for p in disziplin.posten_set.all %}
{% ifequal p.id posten.id %}<b>{{ p.name }}</b>
{% else %}<a href="{% url postenblatt wettkampf.jahr, wettkampf.name, disziplin.name, p.name %}?{{ query }}">{{ p.name }}</a>
{% endifequal %}{% if not forloop.last %}|{% endif %}
{% endfor %}
</form>
<script type="text/javascript">
  (function() {
     var forms = document.forms || [];
     for (var i=0; i<forms.length; i++) {
       if (forms[i].name != 'postenblattform') continue;
       for (var j=0; j<forms[i].length; j++) {
          if (forms[i][j].type != "hidden" && forms[i][j].disabled != true
              && forms[i][j].style.display != 'none') {
           forms[i][j].focus();
           forms[i][j].select();
           return;
         }
       }
     }
   })();
</script>
{% endblock %}
