{% extends "base_bewertungen.html" %}

{% block content %}
<form id="postenblattform" name="postenblattform" action="" method="POST">
  <b>Posten {{ posten.name }}: {{ posten.postenart.name }}</b>
  {% for set in formset %}{{ set.management_form }}{% endfor %}
  <table class="list">
      <tr>
          {{ startliste.total }}
          <th class="startnummer">Startnr:</th>
          {% for t in startliste.teilnehmer_forms %}
          <th>{{ t.startnummer }}{{ t.teilnehmer }}</th>
          {% endfor %}
      </tr>
      {% for set in formset %}
      <tr>
          <th class="note">{{ set.bewertungsart.name }}:</th>
          {% for form in set.forms %}
          <td {% if not form.initial.id %}bgcolor="LightGreen"{% endif %}>
              {{ form.wert.errors }}{{ form.wert }}{{ form.id }}
          </td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
<p>
{% if posten_next_name %}
<input type="submit" name="save_and_next" value="Speichern, weiter zu Posten {{ posten_next_name }}">
<input type="hidden" name="posten_next_name" value="{{ posten_next_name }}">
{% else %}
<input type="submit" name="save_and_finish" value="Speichern, weiter zu Postenblattwahl">
{% endif %}
<input type="submit" name="save" value="Speichern">
</form>
<script type="text/javascript">
  (function() {
     var forms = document.forms || [];
     for (var i=0; i<forms.length; i++) {
       if (forms[i].name != 'postenblattform') continue;
       for (var j=0; j<forms[i].length; j++) {
          if (forms[i][j].type != "hidden" && forms[i][j].disabled != true
              && forms[i][j].style.display != 'none') {
           forms[i][j].focus();
           forms[i][j].select();
           return;
         }
       }
     }
   })();
</script>
{% endblock %}
