{% extends "base_disziplin.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block content %}
{% for k in disziplin.kategorien.all %}
{% ifequal k.id kategorie.id %}<b>{{ k.name }}</b>
{% else %}<a href="{% url rangliste wettkampf.jahr, wettkampf.name, disziplin.name, k.name %}">{{ k.name }}</a>
{% endifequal %}{% if not forloop.last %}|{% endif %}
{% endfor %}
<p>
<table class="list">
  <tr>
    <th class="startnummer">Rang</th>
    <th>Fahrerpaar</th>
    <th>Sektion</th>
    <th class="startnummer">Startnr</th>
    <th class="note">Zeit</th>
    <th class="note">Punkte</th>
  </tr>
{% for row in rangliste %}
  {% ifchanged row.kranz %}{% if not forloop.first %}
  <tr><td align="center" colspan="6">--- Kranzlimite: {{kranzlimite|default_if_none:"Default (ca 25%)"}} ---</td></tr>
  {% endif %}{% endifchanged %}
  <tr class="{% cycle "odd" "even" %}">
    <td align="center">{% if row.doppelstarter %}DS{% else %}{{row.rang}}{% endif %}</td>
    <td>{{row.steuermann}}{% if row.steuermann_ist_ds %}*{% endif %}
        / {{row.vorderfahrer}}{% if row.vorderfahrer_ist_ds %}*{% endif %}</td>
    <td>{{row.sektion}}</td>
    <td class="startnummer"><a href="{% url teilnehmer_get wettkampf.jahr, wettkampf.name, disziplin.name, row.startnummer %}">{{row.startnummer}}</a></td>
    <td class="note">{{row.zeit_tot}}</td>
    <td class="note"><a title="Notenblatt" href="{% url notenblatt wettkampf.jahr, wettkampf.name, disziplin.name, row.startnummer %}">{{row.punkt_tot}}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
