{% extends "base_teilnehmer.html" %}

{% block content %}
<table class="display">
  <tr>
    <th>Startnummer:</th>
    <td>{{ teilnehmer.startnummer }}</td>
  </tr>
  <tr>
    <th>Steuermann:</th>
    <td>{{teilnehmer.steuermann.nummer }}, <a href="/mitglied/{{ teilnehmer.steuermann.nummer }}#Not-Yet-Implemented" title="Sektion {{ teilnehmer.steuermann.sektion }}, Jahrgang {{ teilnehmer.steuermann.geburtsdatum.year }}, Kategorie {{ teilnehmer.steuermann.kategorie }}">{{ teilnehmer.steuermann.name }}&nbsp;{{ teilnehmer.steuermann.vorname }}</a>, {{ teilnehmer.steuermann.sektion }}, {{ teilnehmer.steuermann.geburtsdatum.year }}, Kat {{ teilnehmer.steuermann.kategorie }}</td>
  </tr>
  <tr>
    <th>Vorderfahrer:</th>
    <td>{{teilnehmer.vorderfahrer.nummer }}, <a href="/mitglied/{{ teilnehmer.vorderfahrer.nummer }}#Not-Yet-Implemented" title="Sektion {{ teilnehmer.vorderfahrer.sektion }}, Jahrgang {{ teilnehmer.vorderfahrer.geburtsdatum.year }}, Kategorie {{ teilnehmer.vorderfahrer.kategorie }}">{{ teilnehmer.vorderfahrer.name }}&nbsp;{{ teilnehmer.vorderfahrer.vorname }}</a>, {{ teilnehmer.vorderfahrer.sektion }}, {{ teilnehmer.vorderfahrer.geburtsdatum.year }}, Kat {{ teilnehmer.vorderfahrer.kategorie }}</td>
  </tr>
  <tr>
    <th>Sektion:</th>
    <td>{{ teilnehmer.sektion }}</td>
  </tr>
  <tr>
    <th>Kategorie:</th>
    <td>{{ teilnehmer.kategorie }}</td>
  </tr>
  <tr>
    <th>Disqualifiziert:</th>
    <td>{{ teilnehmer.disqualifiziert }}</td>
  </tr>
  <tr>
    <th>Ausgeschieden:</th>
    <td>{{ teilnehmer.ausgeschieden }}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <br />
      <a href="{% url teilnehmer_update wettkampf.jahr, wettkampf.name, disziplin.name, teilnehmer.startnummer %}">Ändern</a>
      | <a href="{% url teilnehmer_delete_confirm wettkampf.jahr, wettkampf.name, disziplin.name, teilnehmer.startnummer %}">Löschen</a>
    </td>
  </tr>
</table>
{% endblock %}
