{% extends "base_teilnehmer.html" %}

{% block content %}
<form action="" method="POST">
  {{ form.disziplin }}
  <table class="form">
    {% if form.non_field_errors %}
    <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
    {% endif %}
    <tr>
      <th>{{ form.startnummer.label }}:</th>
      <td>{{ form.startnummer.errors }}{{ form.startnummer }}</td>
    </tr>
    <tr>
      <th>Steuermann:</th>
      <td>
        {{ form.steuermann_search.errors }}{{ form.steuermann_search }}
        <a href="/mitglied/{{ teilnehmer.steuermann.nummer }}#Not-Yet-Implemented" title="Sektion {{ teilnehmer.steuermann.sektion }}, Jahrgang {{ teilnehmer.steuermann.geburtsdatum.year }}, Kategorie {{ teilnehmer.steuermann.kategorie }}">{{ teilnehmer.steuermann.name }}&nbsp;{{ teilnehmer.steuermann.vorname }}</a>
      </td>
    </tr>
    <tr>
      <th>Vorderfahrer:</th>
      <td>
        {{ form.vorderfahrer_search.errors }}{{ form.vorderfahrer_search }}
        <a href="/mitglied/{{ teilnehmer.vorderfahrer.nummer }}#Not-Yet-Implemented" title="Sektion {{ teilnehmer.vorderfahrer.sektion }}, Jahrgang {{ teilnehmer.vorderfahrer.geburtsdatum.year }}, Kategorie {{ teilnehmer.vorderfahrer.kategorie }}">{{ teilnehmer.vorderfahrer.name }}&nbsp;{{ teilnehmer.vorderfahrer.vorname }}</a>
      </td>
    </tr>
    <tr>
      <th>{{ form.sektion.label }}:</th>
      <td>{{ form.sektion.errors }}{{ form.sektion }}</td>
    </tr>
    <tr>
      <th>{{ form.kategorie.label }}:</th>
      <td>{{ form.kategorie.errors }}{{ form.kategorie }}</td>
    </tr>
    <tr>
      <th>{{ form.disqualifiziert.label }}:</th>
      <td>{{ form.disqualifiziert.errors }}{{ form.disqualifiziert }}</td>
    </tr>
    <tr>
      <th>{{ form.ausgeschieden.label }}:</th>
      <td>{{ form.ausgeschieden.errors }}{{ form.ausgeschieden }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Änderungen speichern"/></td>
    </tr>
  </table>
</form>
{% endblock %}
