{% extends "base_startliste.html" %}

{% block content %}
<form id="searchform" name="searchform" action="" method="GET">
{% if searchform.non_field_errors %}
{{ searchform.non_field_errors }}
{% endif %}
{{ searchform.startnummern.errors }}
Nach Sektion {{ searchform.sektion }} oder
Startnummern {{ searchform.startnummern }}
<input type="submit" value="filtern">
| <a href="#" title="Startnummern '1,4-15' zeigt Startnummern 1,4,5,...,15.
'800-' zeigt Startnummern ab 800">Filter Tipps</a>
</form>

{% if not searchform.errors %}
<form id="myform" name="myform" action="" method="POST">
<table class="list">
  <tr>
    <th>Startnr</th>
    <th>Steuermann</th>
    <th>Vorderfahrer</th>
    <th>Sektion</th>
    <th>Kategorie</th>
  </tr>
  {% for teilnehmer in startliste %}
  <tr class="{% cycle 'odd' 'even' as rowcolors %}">
    <td><a href="{% url teilnehmer_get wettkampf.jahr, wettkampf.name, disziplin.name, teilnehmer.startnummer %}">{{ teilnehmer.startnummer }}</a>
    <td><a href="#/mitglied/{{ teilnehmer.steuermann.nummer }}" title="Sektion {{ teilnehmer.steuermann.sektion }}, Jahrgang {{ teilnehmer.steuermann.geburtsdatum.year }}, Mitglied {{ teilnehmer.steuermann.nummer }}">{{ teilnehmer.steuermann.name }}&nbsp;{{ teilnehmer.steuermann.vorname }}</a></td>
    <td><a href="#/mitglied/{{ teilnehmer.vorderfahrer.nummer }}" title="Sektion {{ teilnehmer.vorderfahrer.sektion }}, Jahrgang {{ teilnehmer.vorderfahrer.geburtsdatum.year }}, Mitglied {{ teilnehmer.vorderfahrer.nummer }}">{{ teilnehmer.vorderfahrer.name }}&nbsp;{{ teilnehmer.vorderfahrer.vorname }}</a></td>
    <td>{{ teilnehmer.sektion }}</td>
    <td>{{ teilnehmer.kategorie }}</td>
  </tr>
  {% endfor %}
  {% if form.non_field_errors %}
  <tr>
    <td colspan="5">{{ form.non_field_errors }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.startnummer.errors }}{{ form.startnummer }}</td>
    <td>{{ form.steuermann.errors }}{{ form.steuermann }}</td>
    <td>{{ form.vorderfahrer.errors }}{{ form.vorderfahrer }}</td>
    <td colspan="2">{{ form.sektion }}<input type="submit" value="Teilnehmer hinzufügen"/></td>
  </tr>
</table>
<p>
<a href="#Noch-nicht-implementiert">Mitglied erfassen</a>
<script type="text/javascript">
  var first_field = document.getElementById('id_startnummer');
  first_field.focus();
  first_field.select();
</script>
</form>
{% endif %}
{% endblock %}
