{% extends "base_startliste.html" %}
{% block content %}
{% load pagination_tags %}
{% autopaginate startliste 15 %}
<form class="filter" id="searchform" name="searchform" action="" method="GET">
{% include "schiffeinzel_filter_form.html" with form=searchform %}
</form>
<p><p/>
{% if not searchform.errors %}
<form id="myform" name="myform" action="" method="POST">
<a target="_blank" href="{% url startliste_einzelfahren_pdf wettkampf.jahr, wettkampf.name, disziplin.name%}?{{request.META.QUERY_STRING}}">Startliste drucken</a>
<table class="list">
  <tr>
    <th class="startnummer">Stnr</th>
    <th>Steuermann</th>
    <th>Vorderfahrer</th>
    <th class="kategorie">Kat</th>
    <th>Sektion</th>
  </tr>
  {% for teilnehmer in startliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="startnummer"><a href="{% url teilnehmer_get wettkampf.jahr, wettkampf.name, disziplin.name, teilnehmer.startnummer %}">{{ teilnehmer.startnummer }}</a></td>
    <td>{{ teilnehmer.steuermann.name }}&nbsp;{{ teilnehmer.steuermann.vorname }}<font size="-2"> {{ teilnehmer.steuermann.geburtsdatum.year }}</font></td>
    <td>{{ teilnehmer.vorderfahrer.name }}&nbsp;{{ teilnehmer.vorderfahrer.vorname }}<font size="-2"> {{ teilnehmer.vorderfahrer.geburtsdatum.year }}</font></td>
    <td class="kategorie">{{ teilnehmer.kategorie }}</td>
    <td>{{ teilnehmer.sektion }}</td>
  </tr>
  {% endfor %}
  {% if not page_obj.has_next %}
  {% if form.non_field_errors %}
  <tr>
    <td colspan="5">{{ form.non_field_errors }}</td>
  </tr>
  {% endif %}
  <tr valign="top">
    <td>{{ form.startnummer.errors }}{{ form.startnummer }}</td>
    <td>
       {% if not steuermann_neu_form.errors %}{{ form.steuermann.errors }}{% endif %}{{ form.steuermann }}
       <br/><font size="-2">{{ form.steuermann_neu }}{{ form.steuermann_neu.label_tag }}</font>
       <div id="neuer_steuermann">{{ steuermann_neu_form.as_ul }}</div>
    </td>
    <td>
       {% if not vorderfahrer_neu_form.errors %}{{ form.vorderfahrer.errors }}{% endif %}{{ form.vorderfahrer }}
       <br/><font size="-2">{{ form.vorderfahrer_neu }}{{ form.vorderfahrer_neu.label_tag }}</font>
       <div id="neuer_vorderfahrer">{{ vorderfahrer_neu_form.as_ul }}</div>
    </td>
    <td>{{ form.kategorie }}</td>
    <td>{{ form.sektion }} <input type="submit" value="Schiff hinzufügen"/></td>
  </tr>
  {% endif %}
</table>
<p>
{% paginate %}
<script type="text/javascript">
$('form:not(.filter) :input:visible:first').focus();
$(document).ready(function(){
        $('#neuer_vorderfahrer').toggle( $('#id_vorderfahrer_neu').is(':checked') );
        $('#neuer_steuermann').toggle( $('#id_steuermann_neu').is(':checked') );
        $('#id_steuermann_neu').click(function () {
            showHideNeuesMitglied(this, "steuermann");
            });    
        $('#id_vorderfahrer_neu').click(function () {
            showHideNeuesMitglied(this, "vorderfahrer");
            });    
        textboxes = $(":input:visible:[type=text]");
        $(textboxes).keydown(checkForEnter);
});
function showHideNeuesMitglied(checkbox, position) {
    if (checkbox.checked) {
        $("#neuer_" + position).show();
        $("#id_" + position + "-name").focus();
    } else {
        $("#neuer_" + position).hide();
        $("#id_" + position).focus();
    }
}
function checkForEnter(event) {
    if (event.keyCode == 13) {
        currentBoxNumber = textboxes.index(this);
        nextBox = textboxes[currentBoxNumber + 1]
        if (nextBox != null) {
            nextBox.focus();
            nextBox.select();
            event.preventDefault();
            return false;
        }
    }
} 
</script>
</form>
{% endif %}
{% endblock %}
