{% extends "base_startliste.html" %}
{% block content %}
{% load pagination_tags %}
{% autopaginate startliste 15 %}
<form id="searchform" name="searchform" action="" method="GET">
{% if searchform.non_field_errors %}
{{ searchform.non_field_errors }}
{% endif %}
{{ searchform.startnummern.errors }}
Nach Sektion {{ searchform.sektion }} oder
Startnummern {{ searchform.startnummern }}
<input type="submit" value="filtern">
| <a href="#" title="Startnummern '1,4-15' zeigt Startnummern 1,4,5,...,15.
'800-' zeigt Startnummern ab 800">Filter Tipps</a>
</form>

{% if not searchform.errors %}
<form id="myform" name="myform" action="" method="POST">
<table class="list">
  <tr>
    <th class="startnummer">Stnr</th>
    <th>Steuermann</th>
    <th>Vorderfahrer</th>
    <th>Sektion</th>
    <th class="kategorie">Kat</th>
  </tr>
  {% for teilnehmer in startliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="startnummer"><a href="{% url teilnehmer_get wettkampf.jahr, wettkampf.name, disziplin.name, teilnehmer.startnummer %}">{{ teilnehmer.startnummer }}</a></td>
    <td>{{ teilnehmer.steuermann.name }}&nbsp;{{ teilnehmer.steuermann.vorname }}<font size="-2"> {{ teilnehmer.steuermann.geburtsdatum.year }}</font></td>
    <td>{{ teilnehmer.vorderfahrer.name }}&nbsp;{{ teilnehmer.vorderfahrer.vorname }}<font size="-2"> {{ teilnehmer.vorderfahrer.geburtsdatum.year }}</font></td>
    <td>{{ teilnehmer.sektion }}</td>
    <td class="kategorie">{{ teilnehmer.kategorie }}</td>
  </tr>
  {% endfor %}
  {% if not page_obj.has_next %}
  {% if form.non_field_errors %}
  <tr>
    <td colspan="5">{{ form.non_field_errors }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.startnummer.errors }}{{ form.startnummer }}</td>
    <td>{{ form.steuermann.errors }}{{ form.steuermann }}</td>
    <td>{{ form.vorderfahrer.errors }}{{ form.vorderfahrer }}</td>
    <td colspan="2">{{ form.sektion }}<input type="submit" value="Teilnehmer hinzufügen"/></td>
  </tr>
  {% endif %}
</table>
<p>
{% paginate %}
<p>
{% if page_obj.has_next %}
<a href="?page={{ paginator.num_pages }}{{ getvars }}">Teilnehmer hinzufügen</a>
|
{% endif %}
<a href="/admin/sasse/mitglied/">Mitglied erfassen</a>
<script type="text/javascript">
  var first_field = document.getElementById('id_startnummer');
  first_field.focus();
  first_field.select();
</script>
</form>
{% endif %}
{% endblock %}
