{% extends "base_wettkaempfe.html" %}
{% block title %}{{ wettkampf.name }} {{ wettkampf.jahr }}{% endblock %}
{% block nav %}
<ul class="tabnav">
  <li class="{% block nav_wettkaempfe %}{% endblock %}">
    <a href="{% url 'wettkaempfe_get' %}">Wettkämpfe</a></li>
  <li class="{% block nav_wettkampf %}{% endblock %}">
    <a href="{% url 'wettkampf_get' wettkampf.jahr wettkampf.name %}">{{wettkampf.name}}-{{wettkampf.jahr}}</a></li>
{% if disziplin %}
  <li class="{% block nav_disziplin %}{% endblock %}">
    <a href="{{ disziplin.get_absolute_url }}">{{disziplin.name}}</a></li>
{% endif %}
</ul>
{% block subnav %}{% endblock %}
{% endblock %}
