{% extends "base_wettkampf.html" %}
{% block title %}{{ block.super }} - {{ disziplin.name }}{% endblock %}
{% block nav_disziplin %}selected{% endblock %}
{% block subnav %}
<ul class="subnav">
  <li class="{% block nav_ueberblick %}{% endblock %}">
    <a href="{{ disziplin.get_absolute_url }}">Überblick</a></li>
  <li class="{% block nav_startliste %}{% endblock %}">
  | <a href="{% url 'startliste' wettkampf.jahr wettkampf.name disziplin.name %}">Startliste</a></li>
{% if disziplin.posten_set.count %}
  <li class="{% block nav_postenblatt %}{% endblock %}">
  | <a href="{% url 'bewertungen' wettkampf.jahr wettkampf.name disziplin.name %}">Beurteilungsblätter</a></li>
  <li class="{% block nav_rangliste %}{% endblock %}">
  | <a href="{% url 'rangliste' wettkampf.jahr wettkampf.name disziplin.name %}">Ranglisten</a></li>
  <li class="{% block nav_notenliste %}{% endblock %}">
  | <a href="{% url 'notenliste' wettkampf.jahr wettkampf.name disziplin.name %}">Notenliste</a></li>
{% endif %}
{% endblock %}
