{% extends "base_bootfaehrenbau.html" %}
{% block nav_eingabe %}selected{% endblock %}
{% block content %}
{% load pagination_tags %}
{% load sasse %}
{% autopaginate startliste 40 %}
<p><p/>
<form id="myform" name="myform" action="" method="POST">
<table class="form">
  {% if form.non_field_errors %}
  <tr>
    <td colspan="2">{{ form.non_field_errors }}</td>
  </tr>
  {% endif %}
  <tr>
    <th>Startnummer:</th>
    <td>{{ form.startnummer.errors }}{{ form.startnummer }}</td>
  </tr>
  <tr>
    <th>Sektion:</th>
    <td>{{ form.sektion.errors }}{{ form.sektion }}</td>
  </tr>
  <tr>
    <th>Zuschläge:</th>
    <td>{{ form.zuschlaege.errors }}{{ form.zuschlaege }}</td>
  </tr>
  <tr>
    <th>Einbauzeit:</th>
    <td>{{ form.einbauzeit.errors }}{{ form.einbauzeit }}</td>
  </tr>
  <tr>
    <th>Ausbauzeit:</th>
    <td>{{ form.ausbauzeit.errors }}{{ form.ausbauzeit }}</td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Bootfährengruppe hinzufügen"/></td>
  </tr>
</table>
</form>
<table class="list">
  <tr>
    <th class="startnummer">Stnr</th>
    <th>Gruppe</th>
    <th class="zeit">Einbauzeit</th>
    <th class="zeit">Ausbauzeit</th>
    <th class="zeit">Zuschläge</th>
    <th class="zeit">Totalzeit</th>
  </tr>
  {% for row in startliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="startnummer"><a href="{% url bootfaehrenbau_update wettkampf.jahr, wettkampf.name, row.startnummer %}">{{ row.startnummer }}</a></td>
    <td>{{ row.name }}</td>
    <td class="zeit">{{ row.einbauzeit|bewertung:'ZEIT' }}</td>
    <td class="zeit">{{ row.ausbauzeit|bewertung:'ZEIT' }}</td>
    <td class="zeit">{{ row.zuschlaege }}</td>
    <td class="zeit">{{ row.zeit|bewertung:'ZEIT' }}</td>
  </tr>
  {% endfor %}
</table>
<p></p>
{% paginate %}
<script type="text/javascript">
$(document).ready(function(){
        textboxes = $("form:not(.filter) :input:visible:[type=text]");
        $(textboxes).keydown(checkForEnter);
        $("input[id=id_einbauzeit]").mask("99:99.99");
        $("input[id=id_ausbauzeit]").mask("99:99.99");
});
function checkForEnter(event) {
    if (event.keyCode == 13) {
        currentBoxNumber = textboxes.index(this);
        nextBox = textboxes[currentBoxNumber + 1]
        if (nextBox != null) {
            nextBox.focus();
            nextBox.select();
            event.preventDefault();
            return false;
        }
    }
} 
</script>
{% endblock %}

