{% extends disziplin.get_base_template %}
{% block nav_ueberblick %}selected{% endblock %}
{% load sasse %}
{% block content %}
{% if null_zeiten %}
Fehlende Zeiten:
<table class="list">
  <tr>
    <th>Posten</th>
    <th class="startnummer">Stnr</th>
    <th>Fahrerpaar</th>
    <th>Sektion</th>
  </tr>
{% for row in null_zeiten %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{row.posten}}</td>
    <td class="startnummer">{{row.startnummer}}</td>
    <td>{{row.steuermann}} / {{row.vorderfahrer}}</td>
    <td>{{row.sektion}}</td>
  </tr>
{% endfor %}
</table>
<p></p>
{% else %}
Keine Null-Zeiten gefunden.
{% endif %}
{% endblock %}
