{% extends "base_sektionsfahren.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% load sasse %}
{% block content %}
<p>Notenblatt Sektion <b>{{ sektion.name }}</b>
(<a target="_blank" href="{% url 'sektionsfahren_notenblatt_pdf' wettkampf.jahr wettkampf.name sektion.name %}">PDF</a>)
</p>
<table class="display">
  <tr>
    <td>Durchschnitt gewichtet:</td>
    <td align="right">{{ sektion.gewichtet_avg|bewertung:'PUNKTE' }}</td>
    <td>({{ sektion.gewichtet|bewertung:'PUNKTE' }} / {{ sektion.anz_schiffe }})</td>
  </tr>
  <tr>
    <td>Abzüge Sektionstotal:</td>
    <td align="right">{{ sektion.abzug|bewertung:'PUNKTE' }}</td>
    <td></td>
  </tr>
  <tr>
    <td>Sektionstotal:</td>
    <th align="right">{{ sektion.total|bewertung:'PUNKTE' }}</th>
    <th></th>
  </tr>
</table>
<p></p>
<table class="list">
  <tr>
    <th>Gruppe</th>
    <th class="note">Schiffe</th>
    <th class="note">Punkte</th>
    <th class="note">Gewichtet</th>
    <th class="note">Abzug</th>
    <th>Bemerkung</th>
  </tr>
{% for gruppe in sektion.gruppen %}
  <tr>
    <td><a href="{% url 'sektionsfahren_gruppe_get' wettkampf.jahr wettkampf.name gruppe.name %}">{{ gruppe.name }}</td>
    <td class="note">{{ gruppe.anz_schiffe }}</td>
    <td class="note"><a href="{% url 'sektionsfahren_notenblatt_gruppe' wettkampf.jahr wettkampf.name gruppe.name %}">{{ gruppe.total|bewertung:'PUNKTE' }}</a></td>
    <td class="note">{{ gruppe.gewichtet|bewertung:'PUNKTE' }}</td>
    <td class="note">{{ gruppe.abzug_sektion|bewertung:'PUNKTE' }}</td>
    <td>{{ gruppe.abzug_sektion_comment|default:"" }}</td>
  </tr>
{% endfor %}
  <tr style="font-weight: bold;">
    <td align="center">Total</td>
    <td class="note">{{ sektion.anz_schiffe }}</td>
    <td></td>
    <td class="note">{{ sektion.gewichtet|bewertung:'PUNKTE' }}</td>
    <td class="note">{{ sektion.abzug|bewertung:'PUNKTE' }}</td>
    <td></td>
  </tr>
{% endblock %}
