{% extends "base_startliste.html" %}
{% block content %}
{% if startliste %}
<table class="list">
  <tr>
    <th><a href="?o=Startnr">Startnr</a></th>
    <th><a href="?o=Gruppe">Gruppe</a></th>
    <th>Fahrchef</th>
    <th class="rang">Schiffe</th>
    <th class="rang">JP</th>
    <th class="rang">Fr.</th>
    <th class="rang">Sen.</th>
  </tr>
  {% for gruppe in startliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="rang">{{ gruppe.startnummer }}</td>
    <td><a href="{% url 'sektionsfahren_gruppe_get' wettkampf.jahr wettkampf.name gruppe.name %}">{{ gruppe.name }}</a></td>
    <td>{{ gruppe.chef.name }}&nbsp;{{ gruppe.chef.vorname }}<font size="-2"> {{ gruppe.chef.geburtsdatum.year }}</font></td>
    <td class="rang">{{ gruppe.anz_schiffe }}</td>
    <td class="rang">{{ gruppe.anz_jps|default:"-" }}</td>
    <td class="rang">{{ gruppe.anz_frauen|default:"-" }}</td>
    <td class="rang">{{ gruppe.anz_senioren|default:"-" }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Es sind noch keine Gruppen vorhanden.</p>
{% endif %}
<p>
<a href="{% url 'sektionsfahren_gruppe_add' wettkampf.jahr wettkampf.name %}">Gruppe hinzufügen</a>
{% endblock %}
