{% extends "base_sektionsfahren.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% load sasse %}
{% block content %}
<table class="display">
  <tr>
    <th>Gold:</th>
    <td>{{ limiten.gold|bewertung:'PUNKTE' }}</td>
  </tr>
  <tr>
    <th>Silber:</th>
    <td>{{ limiten.silber|bewertung:'PUNKTE' }}</td>
  </tr>
  <tr>
    <th>Lorbeer:</th>
    <td>{{ limiten.lorbeer|bewertung:'PUNKTE' }}</td>
  </tr>
  <tr>
    <th>Ausser Konkurrenz:</th>
    <td>{{ limiten.ausser_konkurrenz|default:"-" }}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <br />
      <a href="{% url 'sektionsfahren_kranzlimiten_update' wettkampf.jahr wettkampf.name %}">Ändern</a>
    </td>
  </tr>
</table>
{% endblock %}
