{% extends "base_sektionsfahren.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% load sasse %}
{% block content %}
<p><b>Beste Sektion</b>
| <a href="{% url 'sektionsfahren_rangliste_gruppe' wettkampf.jahr wettkampf.name %}">Beste Gruppe</a>
| <a href="{% url 'sektionsfahren_rangliste_schiff' wettkampf.jahr wettkampf.name %}">Bestes Schiff</a>
| <a href="{% url 'sektionsfahren_rangliste_fahrchef' wettkampf.jahr wettkampf.name %}">Bester Fahrchef</a>
| <a href="{% url 'richtzeiten' wettkampf.jahr wettkampf.name disziplin.name %}">Richtzeiten</a>
| <a href="{% url 'sektionsfahren_kranzlimiten' wettkampf.jahr wettkampf.name %}">Kranzlimiten</a>
</p>
<p>PDF: <a target="_blank" href="{% url 'sektionsfahren_rangliste_pdf' wettkampf.jahr wettkampf.name %}">Rangliste</a>
| <a target="_blank" href="{% url 'sektionsfahren_notenblatt_pdf_all' wettkampf.jahr wettkampf.name %}">Alle Notenblätter</a></p>
<table class="list">
  <tr>
    <th>Kranz</th>
    <th>Rang</th>
    <th>Sektion</th>
	<th>Rayon</th>
    <th class="rang">Gruppen</th>
    <th class="rang">Schiffe</th>
    <th class="rang">JP</th>
    <th class="rang">Fr.</th>
    <th class="rang">Sen.</th>
    <th class="rang">≤20</th>
    <th class="rang">18-42</th>
    <th class="note">Abzüge<br>Gruppen</th>
    <th class="note">Abzüge<br>Sektion</th>
    <th class="note">Total</th>
  </tr>
  {% for sektion in rangliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{% ifchanged sektion.kranz_typ %}{{ sektion.kranz_typ }}{% endifchanged %}</td>
    <td class="rang">{{ sektion.rang }}</td>
    <td>
    {% if sektion.mehrfach_namen %}
      {% for n in sektion.mehrfach_namen %}{{ n }}<br/>{% endfor %}
    {% else %}
      {{ sektion.name }}
    {% endif %}
    </td>
	<td><font size="-1">{{ sektion.rayon }}</font></td>
    <td class="rang">{{ sektion.anz_gruppen }}</td>
    <td class="rang">{{ sektion.anz_schiffe }}</td>
    <td class="rang">{{ sektion.anz_jps|default:"-" }}</td>
    <td class="rang">{{ sektion.anz_frauen|default:"-" }}</td>
    <td class="rang">{{ sektion.anz_senioren|default:"-" }}</td>
    <td class="rang">{{ sektion.anz_u21|default:"-" }}</td>
    <td class="rang">{{ sektion.anz_18_42|default:"-" }}</td>
    <td class="rang">{{ sektion.abzug_gruppen|default:"-" }}</td>
    <td class="rang">{{ sektion.abzug|default:"-" }}</td>
    <td class="note"><a href="{% url 'sektionsfahren_notenblatt' wettkampf.jahr wettkampf.name sektion.name %}">{{ sektion.total }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
