{% extends disziplin.get_base_template %}
{% block nav_ueberblick %}selected{% endblock %}
{% block content %}
<table class="display">
  <tr>
    <th>Name:</th>
    <td>{{ disziplin.name }}</td>
  </tr>
  <tr>
    <th>Disziplinart:</th>
    <td>{{ disziplin.disziplinart }}</td>
  </tr>
  {% if disziplin.kategorien.all %}
  <tr>
    <th>Kategorien:</th>
    <td>
      {% for kategorie in disziplin.kategorien.all %}
      {{ kategorie }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td></td>
    <td>
      <br />
      <a href="{% url disziplin_update wettkampf.jahr, wettkampf.name, disziplin.name %}">Ändern</a>
      | <a href="{% url disziplin_delete_confirm wettkampf.jahr, wettkampf.name, disziplin.name %}">Löschen</a>
    </td>
  </tr>
</table>
{% endblock %}
