{% extends "base_wettkampf.html" %}
{% block nav_wettkampf %}selected{% endblock %}
{% block content %}
<table class="display">
  <tr>
    <th>Name:</th>
    <td>{{ wettkampf.name }}</td>
  </tr>
  <tr>
    <th>Zusatz:</th>
    <td>{{ wettkampf.zusatz }}</td>
  </tr>
  <tr>
    <th>Von:</th>
    <td>{{ wettkampf.von }}</td>
  </tr>
  <tr>
    <th>Bis:</th>
    <td>{{ wettkampf.bis|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>JPSM:</th>
    <td>{{ wettkampf.JPSM|yesno:"ja,nein" }}</td>
  </tr>
  <tr>
    <th>EIDG:</th>
    <td>{{ wettkampf.EIDG|yesno:"ja,nein" }}</td>
  </tr>
  <tr>
    <th>Disziplinen:</th>
    <td>
      {% for disziplin in disziplinen %}
      <a href="{{ disziplin.get_absolute_url }}">{{ disziplin.name }}</a><br/>
      {% empty %}
      Noch keine Disziplin erfasst.
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <br />
      {% if user.is_authenticated %}
      <a href="{% url 'wettkampf_update' wettkampf.jahr wettkampf.name %}">Ändern</a>
      | <a href="{% url 'wettkampf_delete_confirm' wettkampf.jahr wettkampf.name %}">Löschen</a>
      | <a href="{% url 'disziplinen_add' wettkampf.jahr wettkampf.name %}">Disziplin hinzufügen</a>
      | <a target="_blank" href="{% url 'rangliste_komplett_pdf' wettkampf.jahr wettkampf.name %}">Rangliste als PDF</a>
      | Startliste <a href="{% url 'startlisten_einzelfahren_export' wettkampf.jahr wettkampf.name %}">export</a>
      / <a href="{% url 'startlisten_einzelfahren_import' wettkampf.jahr wettkampf.name %}">import</a>
      {% endif %}
  </td>
  </tr>
</table>
{% endblock %}
