{% extends "base_posten.html" %}

{% block content %}
<p>
Zeitimport Posten <strong>{{ posten.name }}</strong>
</p>
{% if form.is_bound %}
<p>Erfolgreich importierte Zeiten: <strong>{{ success }} von {{ total }}</strong></p>
{% if failed|length > 0 %}
Nicht importierte Zeiten:
<table class="list">
  <tr>
    <th class="startnummer">Stnr</th>
    <th>Problem</th>
  </tr>
  {% for f in failed %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="startnummer">{{ f.0 }}</td>
    <td>{{ f.1 }}</td>
  </tr>
  {% endfor %}
</table>
<p></p>
{% endif %}
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
<table class="form">
  {{ form.as_table }}
  <tr>
    <td></td>
    <td>
      <input type="submit" value="{{ posten.name }} importieren"/>
      <font size="-1">
      <a href="{% url disziplin_get wettkampf.jahr, wettkampf.name, disziplin.name %}">Abbrechen</a>
      </font>
    </td>
  </tr>
</table>
</form>
{% endblock %}
