{% extends "base_disziplin.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block nav %}
{{ block.super }}
{% block subnav %}
<ul class="subnav">
  <li class="{% block nav_rang_kat %}{% endblock %}">
    <a href="{% url rangliste wettkampf.jahr, wettkampf.name, disziplin.name %}">Ranglisten</a></li>
  <li class="{% block nav_notenliste %}{% endblock %}">
  | <a href="{% url notenliste wettkampf.jahr, wettkampf.name, disziplin.name %}">Notenliste</a></li>
  <li class="{% block nav_notenblatt %}{% endblock %}">
  | <a href="{% url notenblatt wettkampf.jahr, wettkampf.name, disziplin.name %}">Notenblatt</a></li>
</ul>
{% endblock %}
{% endblock %}
