{% extends "base_bootfaehrenbau.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block content %}
{% load pagination_tags %}
{% load sasse %}
{% autopaginate rangliste 40 %}
{% for k in kategorien %}
{% ifequal k kategorie %}<b>{{ k }}</b>
{% else %}<a href="{% url bootfaehrenbau_rangliste wettkampf.jahr, wettkampf.name, k %}">{{ k }}</a>
{% endifequal %}{% if not forloop.last %}|{% endif %}
{% endfor %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a target="_blank" href="{% url bootfaehrenbau_rangliste_pdf wettkampf.jahr, wettkampf.name, kategorie %}">PDF</a>
|
{% if kranzlimite %}
Kranzlimite:
<a href="{% url bootfaehrenbau_kranzlimite_update wettkampf.jahr, wettkampf.name, kategorie %}">{{ kranzlimite|bewertung:'ZEIT' }}</a>
{% else %}
<a href="{% url bootfaehrenbau_kranzlimite_update wettkampf.jahr, wettkampf.name, kategorie %}">Kranzlimite setzen</a>
{% endif %}
<p></p>
<table class="list">
  <tr>
    <th class="rang">Rang</th>
    <th>Gruppe</th>
    <th class="zeit">Einbauzeit</th>
    <th class="zeit">Ausbauzeit</th>
    <th class="zeit">Zuschläge</th>
    <th class="zeit">Totalzeit</th>
  </tr>
{% for row in rangliste %}
  {% ifchanged row.kranz %}{% if not forloop.first %}
  <tr><td colspan="4">Kranzlimite: {{ kranzlimite|bewertung:'ZEIT' }} ({{ kranzlimite_in_prozent }}%)</td></tr>
  {% endif %}{% endifchanged %}
  <tr class="{% cycle "odd" "even" %}">
    <td class="rang">{{row.rang}}</td>
    <td>{{ row.name }}</td>
    <td class="zeit">{{ row.einbauzeit|bewertung:'ZEIT' }}</td>
    <td class="zeit">{{ row.ausbauzeit|bewertung:'ZEIT' }}</td>
    <td class="zeit">{{ row.zuschlaege }}</td>
    <td class="zeit">{{ row.zeit|bewertung:'ZEIT' }}</td>
  </tr>
{% endfor %}
</table>
<p></p>
{% paginate %}
{% endblock %}
