{% load pagination_tags %}
{% autopaginate rangliste 15 %}
<p></p>
Die besten Zeiten für Posten {{ posten.name }}:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a target="_blank" href="{% url richtzeiten_pdf wettkampf.jahr, wettkampf.name, disziplin.name %}">Alle Posten als PDF</a>
<table class="list">
  <tr>
    <th class="startnummer">Stnr</th>
    <th>Fahrerpaar</th>
    <th>Sektion</th>
    <th class="kategorie">Kat</th>
    <th class="zeit">Zeit</th>
    <th class="note">Note</th>
  </tr>
{% for row in rangliste %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="startnummer"><a href="{% url teilnehmer_get wettkampf.jahr, wettkampf.name, disziplin.name, row.startnummer %}">{{row.startnummer}}</a></td>
    <td>{{row.steuermann}} / {{row.vorderfahrer}}</td>
    <td>{{row.sektion}}</td>
    <td class="kategorie">{{row.kategorie}}</td>
    <td class="zeit">{{row.zeit}}</td>
    <td class="note">{{row.note}}</td>
  </tr>
{% endfor %}
</table>
<p></p>
{% paginate %}
