{% extends "base_wettkampf.html" %}
{% block nav_wettkampf %}selected{% endblock %}

{% block content %}
<form action="" method="POST">
  <table class="form">
    {% if form.non_field_errors %}
    <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
    {% endif %}
    {% for field in form %}
    <tr>
      <th>{{ field.label_tag }}:</th>
      <td>{{ field.errors }} {{ field }}<br>
        <small> {{ field.help_text }}</small></td>
    </tr>
    {% endfor %}
    <tr>
      <th>Disziplinen:</th>
      <td>
        {% if disziplinen %}
        {% for disziplin in disziplinen %}
        <a href="{{ disziplin.get_absolute_url }}">{{ disziplin.name }}</a><br/>
        {% endfor %}
        {% else %}
        Noch keine Disziplin erfasst.
        {% endif %}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Änderungen speichern"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
