{% extends "base_disziplin.html" %}
{% block nav_rangliste %}selected{% endblock %}
{% block content %}
<form action="" method="POST">
  {{ formset.management_form }}
  <table class="list">
    <tr>
      <th>Kat</th>
      <th>Limite</th>
    </tr>
  {% for form in formset.forms %}
    <tr>
      <td>{{ form.kl_id }}{{ form.kat_id }}{{ form.kat_name }}</td>
      <td>{{ form.kl_wert.errors }}{{ form.kl_wert }}</td>
    </tr>
  {% endfor %}
  </table>
<p></p>
<input type="submit" value="Änderungen speichern"/>
<input type="submit" name="set_defaults" value="Limite auf 25% setzen">
</form>
{% endblock %}
